## General
MY_TEAM=
FANTASY_YEAR=2023
FANTASY_SPORT=nfl
WRITE_CACHE=True
USE_CACHE=False

## Yahoo
APP_ID=
CONSUMER_KEY=
CONSUMER_SECRET=

## Cloudant
IAM_APIKEY=
CLOUDANT_URL=
CLOUDANT_DB=
CLOUDANT_DDOC=
CLOUDANT_VIEW=
